{% extends 'duck_exp/base.html' %} {% block content %}
<div
  class="container"
  style="
    padding-bottom: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
  "
>
  <div style="flex: 1">
    {%if task_number == 0%}
    <h2>PART 1: Tutorial Task</h2>
    <p>
      This first task is meant to familiarise yourself with the format of the
      debugging tasks throughout this form. Simply debug this task as you
      normally would to get warmed up.
    </p>
    {%else%}
    <h2>Task {{ task_number }}</h2>

    {%endif%}

    <b>{{ current_task.title | safe }}:</b> {{ current_task.description |safe }}
  </div>
  {% if duck %}
  <img
    src="https://media.istockphoto.com/id/1127302688/vector/yellow-duck-icon.jpg?s=612x612&w=0&k=20&c=VD0bPGAhprT2sZFtUpHin-60ZmrvkrprYnEoeDddthY="
    alt="Description of the image"
    style="width: 100px; margin-left: 20px; margin-right: 80px"
  />
  {% endif %}
</div>

<div class="container">
  <div class="row">
    <!-- Left Column: Ace editor -->
    <div class="col-md-6">
      <form method="post" action="" class="code-form">
        <!-- Ace editor -->
        {{ form.media }}

        <!-- Run Code button -->
        <button
          type="submit"
          name="run_code"
          value="true"
          class="btn btn-primary"
        >
          &#9658; Run Code
        </button>

        {% csrf_token %} {{ form.as_p }}

        <!-- Next Task button -->
        <button
          type="submit"
          name="next"
          value="true"
          class="btn btn-secondary"
          id="nextButton"
        >
          Next
        </button>
        <span id="warning" style="color: red; margin-top: 10px; display: none">
          1 min. remaining. Write down your final solution.
        </span>
        <!-- Countdown timer -->
        {% comment %}
        <div id="timer" style="margin-top: 10px"></div>
        {% endcomment %}
      </form>
    </div>

    <!-- Right Column: "Run Code," "Output," and "Next Task" -->
    <div class="col-md-6" style="margin-top: 0">
      <!-- Output heading -->
      <div class="code-editor-output">
        {% if output%}
        <pre style="padding-left: 15px; color: white">
          {{ output|linebreaksbr }}
        </pre>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Add this script at the end of your HTML file or within a scripts block -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Set the total time limit and warning time in seconds
    const timeLimit = 600; // 10 minutes
    const warningTime = 540; // 9 minutes (1 minute before the total time limit)

    // Function to display a warning message
    function displayWarning() {
      // Display the warning message next to the "Next Task" button
      document.getElementById("warning").style.display = "inline";
    }

    // Function to redirect to the feedback page by clicking the "Next" button
    function redirectToFeedback() {
      // Click the existing "Next Task" button
      document.getElementById("nextButton").click();
    }

    // Function to update the countdown timer
    function updateTimerDisplay() {
      // Display the remaining time on the page
      // document.getElementById("timer").innerText = remainingTime;

      // If it's time to display the warning, call the displayWarning function
      if (remainingTime === warningTime) {
        displayWarning();
      }

      // If the time has run out, call the redirectToFeedback function
      if (remainingTime === 0) {
        // reset the remaining time
        localStorage.removeItem("remainingTime");
        redirectToFeedback();
      } else {
        // Decrement the remaining time
        remainingTime--;
        // console.log("remaining_time:", remainingTime);

        // Save the remaining time to local storage
        localStorage.setItem("remainingTime", remainingTime);

        // Schedule the next update after 1 second
        setTimeout(updateTimerDisplay, 1000);
      }
    }

    // Event listener for the "Next Task" button
    document
      .getElementById("nextButton")
      .addEventListener("click", function () {
        // Remove the remaining time from local storage
        localStorage.removeItem("remainingTime");
      });

    // Initialize the remaining time from local storage or use the total time limit
    let remainingTime =
      parseInt(localStorage.getItem("remainingTime")) || timeLimit;

    // Initialize the countdown timer
    updateTimerDisplay();
  });
</script>

{% endblock %}
