<!-- templates/duck_code_editor/survey_complete.html -->
{% extends 'duck_exp/base.html' %} {% block content %}

<div class="container">
  <h2>Instructions</h2>
  <ol>
    <li>
      <p>
        Please read and follow the instructions before each task! The results of
        our experiment hinge on it.
      </p>
    </li>
    <li>
      <p>
        Each task is a Python function that compiles correctly but produces
        incorrect or unexpected output. Hence, your goal is to debug these
        pieces of code. All bugs are either
      </p>
      <ul type"a">
        <li>
          <p>
            short lines of code that are missing to make the algorithm work,
            or
          </p>
        </li>
        <li>
          <p>
            errors in code logic (e.g., incorrect manipulation of variables,
            wrong indexing, incomplete conditions, ...)
          </p>
        </li>
      </ul>
      <p>
        You will NOT have to add or remove any control flow structures
        (for-loops, if statements, ...) in ANY of the tasks. You MIGHT, however,
        have to edit their conditions.
      </p>
    </li>
    <li>
      <p>
        Each task will be introduced by a description of the code, some example
        input/output. Your output after debugging should exactly match that of
        the examples.
      </p>
    </li>
    <li>
      <p>
        Do NOT use ANY external tools (ChatGPT, web browser, …) during debugging. You may only rely on your own knowledge. All bugs can be solved with basic Python statements.
      </p>
    </li>

    <li>
      <p>
        Do NOT import new libraries. Any needed libraries will already be
        included.
      </p>
    </li>

    <li>
      <p>Do NOT define new functions. Only edit any existing ones.</p>
    </li>

    <li>
      <p>Do NOT refresh the page or use the back button in your browser.</p>
    </li>

    <li>
      <p>
        When you think your code is corrected, or when you decide you cannot fix
        it, please press next. You will not be able to return after proceeding,
        so make sure you are certain that you are done before moving on.
      </p>
    </li>

    <li>
      <p>
        There is a 10-minute time limit on each task.
      </p>
    </li>
  </ol>
  <p>Let’s proceed with a tutorial task to get you warmed up.</p>
  <form method="post" action="{% url 'duck_code_editor:instructions' %}">
    {% csrf_token %}
    <button class="btn btn-secondary" style="display: block" type="submit">
      Next
    </button>
  </form>
</div>
{% endblock %}
