{% extends 'duck_exp/base.html' %} {% block content %}
<div class="container" style="padding-bottom: 5px; padding-top: 10px; display: flex; align-items: center;">
  <div style="flex: 1;">
      <h2>Task {{ task_number }}</h2>
      <b>{{ current_task.title }}:</b> {{ current_task.description }}
  </div>
  {% if duck %}
      <img src="https://media.istockphoto.com/id/1127302688/vector/yellow-duck-icon.jpg?s=612x612&w=0&k=20&c=VD0bPGAhprT2sZFtUpHin-60ZmrvkrprYnEoeDddthY=" 
           alt="Description of the image"
           style="width: 100px; margin-left: 10px; margin-right: 200px;">
  {% endif %}
</div>


<div class="container">
  <div class="row">
    <!-- Left Column: Ace editor -->
    <div class="col-md-6">
      <form method="post" action="" class="code-form">
        <!-- Ace editor -->
        {{ form.media }}

        <!-- Run Code button -->
        <button
          type="submit"
          name="run_code"
          value="true"
          class="btn btn-primary"
        >
          Run Code
        </button>

        {% csrf_token %} {{ form.as_p }}

        <!-- Next Task button -->
        <button
          type="submit"
          name="next"
          value="true"
          class="btn btn-secondary"
        >
          Next Task
        </button>
      </form>
    </div>

    <!-- Right Column: "Run Code," "Output," and "Next Task" -->
    <div class="col-md-6" style="margin-top: 0">
      <!-- Output heading -->
      {% comment %}
      <h5>Output:</h5>
      {% endcomment %}

      <!-- Output div -->
      <div class="code-editor-output">
        {% if output%}
        <pre style="padding-left: 15px; color: white">
{{ output|linebreaksbr }}</pre
        >
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
