{% extends 'duck_exp/base.html' %} {% block content %}

<div class="container">
  <h2>Rate the previous task</h2>
  <form method="post" action="">
    {% csrf_token %}
    <div class="likert-question">
      <p>How comfortable were you using rubber duck debuggin?</p>
      <div class="likert-options">
        <label class="likert-option">
          <span class="likert-label">Very uncomfortable</span>
          <input type="radio" name="complexity" value="1" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Somewhat Uncomfortable</span>
          <input type="radio" name="complexity" value="2" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Neutral</span>
          <input type="radio" name="complexity" value="3" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Comfortable</span>
          <input type="radio" name="complexity" value="4" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Very Comfortable</span>
          <input type="radio" name="complexity" value="5" />
        </label>
      </div>

      <p>Do you often use rubber duck debugging?</p>
      <div class="likert-options">
        <label class="likert-option">
          <span class="likert-label">Very simple</span>
          <input type="radio" name="complexity" value="1" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Simple</span>
          <input type="radio" name="complexity" value="2" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Neutral</span>
          <input type="radio" name="complexity" value="3" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Complex</span>
          <input type="radio" name="complexity" value="4" />
        </label>
        <label class="likert-option">
          <span class="likert-label">Very complex</span>
          <input type="radio" name="complexity" value="5" />
        </label>
      </div>
    </div>

    <button class="btn btn-secondary" style="display: block" type="submit">
      Submit
    </button>
  </form>
</div>
{% endblock %}
